<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <bean id="userService" class="com.lu.service.UserServiceImpl"></bean>
    <bean id="log" class="com.lu.log.Log"></bean>
    <bean id="afterLog" class="com.lu.log.AfterLog"></bean>

    <bean id="diy" class="com.lu.diy.DiyPointCut"></bean>
    <aop:config>
        <!-- 自定义切面， ref：要引用的类(即使用ref指定的类来实现切面)-->
        <aop:aspect ref="diy">
            <!--切入点-->
            <aop:pointcut id="point" expression="execution(* com.lu.service.UserServiceImpl.*(..))"/>
            <!-- 通知 -->
            <aop:before method="before123" pointcut-ref="point"/>
            <aop:after method="after123" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>
</beans>